* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto Slab', Helvetica, sans-serif;
}

header,
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

header {
  height: 320px;
  background-color: #E5F3F2;
}

h1 {
  margin: 20px;
  color: #00A79D;
  font-size: 64px;
}

h1 span,
h2,
.vote {
  color: #6D6E71;
}

p {
  color: #939598;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

input,
button {
  display: block;
  width: 600px;
  height: 40px;
  padding: 8px;
  margin: 14px;
  font-size: 22px;
}

button {
  padding: 0 0 3px 0;
  background-color: #00A79D;
  border: 0;
  color: #FFF;
}

button:hover {
  background-color: #045E55;
}

button:disabled {
  background-color: #6D6E71;
  color: #D1D3D4;
}


.idea {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  border-bottom: 1px solid #D1D3D4;
  margin: 10px 0px 25px;
}

.idea h2 {
  width: 95%;
}

.delete {
  width: 5%;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
}

.idea p {
  width: 100%;
  margin: 0 0 20px 0;
}

.quality {
  margin-left: 6px;
  font-family: 'Open Sans';
}

.vote {
  width: 100%;
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.upvote,
.downvote {
  width: 7%;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.delete {
  background-image: url('images/delete.svg');
}

.delete:hover {
  background-image: url('images/delete-hover.svg');
}

.upvote {
  background-image: url('images/upvote.svg');
}

.upvote:hover {
  background-image: url('images/upvote-hover.svg');
}

.downvote {
  background-image: url('images/downvote.svg');
}

.downvote:hover {
  background-image: url('images/downvote-hover.svg');
}

@media (max-width: 650px) {

  input,
  button {
    width: 400px;
  }

  .idea {
    width: 400px;
  }
}
